Source: argus-pep-api-c
Priority: extra
Maintainer: Valery Tschopp <valery.tschopp@switch.ch>
Build-Depends: debhelper (>= 7.0.50~), dh-autoreconf, dh-make, autoconf, doxygen, pkg-config, quilt, libcurl4-openssl-dev
Standards-Version: 3.8.4
Section: libs
Homepage: https://twiki.cern.ch/twiki/bin/view/EGEE/AuthZPEPC
Vcs-Svn: https://svn.cern.ch/reps/glxa/pep-c-lib/tags/2_1_0
Vcs-Browser: http://svnweb.cern.ch/world/wsvn/glxa/pep-c-lib/tags/2_1_0

Package: argus-pep-api-c-dev
Section: libdevel
Architecture: any
Depends: argus-pep-api-c (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: argus-pep-api-c
Section: libs
Architecture: any
Depends: libcurl3 (>= 7.21.0~), ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
